$body-bg-color: #fafafa;

@font-face {
  font-family: Mukta-Medium;
  src: url('../../assets/fonts/Mukta-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: Mukta-Regular;
  src: url('../../assets/fonts/Mukta-Regular.ttf')  format('truetype');
}

body {
  background-color: $body-bg-color;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #fff;
    box-sizing: border-box;
    height: 100vh;

    .left-container{
      width: 60%;
      overflow: hidden;
    }

    h2 {
      font-family: Mukta-Regular, serif;
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 0.0025em;

      color: #000000;
      margin-top: 50px;
    }

    p{
      font-family: Mukta-Medium, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.0015em;

      /* Grey 2 */

      color: #4F4F4F;

    }

    .sign-in{
      width: 90%;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: solid 1px #5e5d5d;
      cursor: pointer;

      .content{
        display: flex;
        column-gap: 8px;
        align-items: center;

        p{
          font-family: Mukta-Medium, serif;
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
    box-sizing: border-box;
    height: 100vh;
    background-color: #e86a00;

    img{
      justify-content: center;
      height: 70%;
    }

    h2{
      color: white;
      font-family: Mukta-Bold, serif;

      font-size: 22px;
      line-height: 17px;
    }

    p{
      font-family: Mukta-Regular, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 17px;
      /* identical to box height */

      text-align: center;

      color: #FFFFFF;
    }
  }
}
