

.wrapper{
  .mid{
    .formSection{
      .fillCard{
        textarea{
          border: none;
          border-radius: 5px;
          padding-left: 10px;
          outline: solid #e0e0e0 0.85px;
          height: 200px;
          width: 40%;
        }
      }
    }
  }

}